


// INUIT

$inuit-base-font-size:          18px;
$inuit-base-line-height:        28px;
@import "bower_components/inuit-defaults/settings.defaults";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-page/base.page";

@import "bower_components/inuit-clearfix/trumps.clearfix";

$base-spacing-unit: $inuit-base-spacing-unit;

img {
	max-width: 100%;
}



// My variables

$lap-and-up: 720px;
$desk-and-up: 1000px;



// Base Styles

body {

}


// Navigation

.nav {
	list-style-type: none;
}
.nav--inline {
	li {
		display: inline-block;
	}
}


// Articles

article {
	border-top: 1px solid black;
	padding: 60px 0;
}

.article__content--reversed {
	flex-direction: row-reverse;
	img {
		float: right;
	}
}

.article__content {
	max-width: 1000px;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $lap-and-up) {
		flex-direction: column;
	}


}



.content {

	padding: 0 24px;

	@media (min-width: $desk-and-up) {
	// 50% at desk
		&--image,
		&--text {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;

		}

	}

	@media (min-width: $lap-and-up) and (max-width: $desk-and-up) {
	// 75% at tablet
		&--text {
			flex-grow: 2;
			flex-shrink: 0;
			flex-basis: 0px;

		}
		&--image {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;

		}
	}


}
