



// Variables

$base-spacing-unit: 20px;

$lap-and-up: 720px;
$desk-and-up: 1000px;



// Helpers

img {
	max-width: 100%;
}

%clearfix {
	&:after {

	}
}
%reset-list {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}


// Base Styles

body {
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: 'Monda', sans-serif;

}


// Navigation

.nav {

	@extend %reset-list;

	&--inline {
		li {
			display: inline-block;
		}
	}

}


// Articles

article {
	border-top: 1px solid black;
	padding: 60px 0;
}

.article__content--reversed {
	flex-direction: row-reverse;
	img {
		float: right;
	}
}

.article__content {
	max-width: 1000px;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $lap-and-up) {
		flex-direction: column;
	}


}



.content {

	padding: 0 24px;

	@media (min-width: $desk-and-up) {
	// 50% at desk
		&--image,
		&--text {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;

		}

	}

	@media (min-width: $lap-and-up) and (max-width: $desk-and-up) {
	// 75% at tablet
		&--text {
			flex-grow: 2;
			flex-shrink: 0;
			flex-basis: 0px;

		}
		&--image {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;

			height: 600px;
		}
	}


}



// Time line nav

.timeline {
	@extend %reset-list;
	position: fixed;
}