



// Variables

$base-spacing-unit: 20px;

$lap-and-up: 720px;
$desk-and-up: 1000px;



// Helpers

img {
	max-width: 100%;
}

%clearfix {
	&:after {

	}
}
%reset-list {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}


// Base Styles

body {
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: 'Monda', sans-serif;
	margin: 0;
	padding: 0 $base-spacing-unit;
	word-wrap: break-word;

}


// Navigation

.nav {

	@extend %reset-list;

	&--inline {
		li {
			display: inline-block;
		}
	}

}

hr {
	border-top: 5px solid black;
}



// Base Articles

article {
	padding: 60px 0;

	max-width: 1000px;
	margin: auto;

}

.content {
	padding: 0 24px;
}





// Article Display Types

article.side-by-side {

	.flex {

		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $lap-and-up) {
			flex-direction: column;
		}

	}

	.content {

		padding: 0 24px;

		@media (min-width: $lap-and-up) {
		// 50% at desk
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;
		}

	}

}


article.image-above {

	.content {

		padding: 0 24px;

		@media (min-width: $lap-and-up) {
			// Paragraphs in to columns
			&--text {
				column-count: 2;
				column-gap: $base-spacing-unit * 2;
			}

		}

	}

}


article.single {


	img {
		display: block;
		margin: auto;
	}

	.flex {

		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $lap-and-up) {
			flex-direction: column;
		}

	}

	.content {

		text-align: center;
		padding: 0 24px;

		@media (min-width: $lap-and-up) {
		// 50% at desk
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0px;
		}

	}

}
