<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Matt Greenfield">

	<title>Vintage Drums - {{ page.title }}</title>

	<!-- CSS -->
	<link href="{{ site.baseurl }}/assets/css/styles.min.css" rel="stylesheet" type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>

</head>

<body>

	<header>

		<nav>
			<ul class="nav nav--inline">
				<li><a href="/">Home</a></li>
				{% for collection in site.collections %}
					<li><a href="{{ site.baseurl }}/{{ collection[0] }}/">{{ collection[0] | capitalize }}</a></li>
				{% endfor %}
			</ul>
		</nav>

	</header>

	<main>
		<section>

			{% assign items = site.ludwig | sort: 'year' %}

			<nav class="timeline" id="timeline">
				<ul>
					{% for article in items %}
						<li>
							<a href="#{{ article.year }}">{{ article.year }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>


			{% for article in items %}
				<article id="{{ article.year }}">

					<div class="article__content {% cycle '', 'article__content--reversed' %}">

						<div class="content content--image">
							<img src="{{ site.baseurl }}/assets/img/{{ article.collection }}/{{ article.title | downcase | replace: ' ', '-' }}.png" alt="">
						</div>

						<div class="content content--text">
							<h2>{{ article.title }}</h2>
							<h3>{{ article.year }}</h3>
							<div>{{ article.content }}</div>
						</div>

					</div>

				</article>
			{% endfor %}

		</section>

	</main>





	<footer>

	</footer>

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- My JS -->
	<script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>

</body>
</html>
