<article id="{{ article.year }}" style="background: {{ article.background-pattern }};">

	<div class="article__content {% cycle '', 'article__content--reversed' %}">

		<div class="content content--image">
			<img src="{{ site.baseurl }}/assets/img/{{ article.title | downcase | replace: ' ', '-' }}.png" alt="">
		</div>

		<div class="content content--text">
			<h2>{{ article.title }}</h2>
			<h3>{{ article.year }}</h3>
			<div>
				<p>{{ article.content }}</p>
			</div>
		</div>

	</div>

</article>